@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

:root {
    --fontOne: 4.209rem;
    --fontTwo: 3.157rem;
    --fontThree: 2.369rem;
    --fontFour: 1.77rem;
    --fontFive: 1.33rem;
    --fontSix: 1rem;
    --fontSeven: 0.75rem;
    --fontEight: 0.563rem;
}

body {
    background-color: hsl(75deg, 10%, 8%);
}

.container {
    user-select: none;
}

/***********************
        Header
***********************/

.header {
    text-align: center;
    background-color: hsl(75deg, 10%, 8%);
    border-bottom: 1px solid rgba(100, 100, 100, 0.7);
}

.header h1 {
    color: white;
    font-size: var(--fontOne);
    text-shadow: 0px 0px 8px hsl(75deg, 100%, 60%);
}

/***********************
        Main
***********************/

.content {
    width: 85%;
    margin: auto;
    min-height: 70vh;
}

.date {
    text-align: right;
    padding: 1%;
    margin-right: 4.8%;
    color: rgb(175, 175, 175);
    font-weight: 900;
    font-size: var(--fontSeven);
}

#exchange-header {
    text-align: center;
    color: white;
    font-size: var(--fontThree);
    text-shadow: 0px 0px 5px hsl(75deg, 50%, 50%);
}

.exchange {
    min-height: 150px;
    width: 90%;
    margin: auto;
    margin-top: 5%;
    background-color: hsl(75deg 0% 30%);
    border-radius: 5px;
}

.exchange-form {
    padding: 15px 0;
    display: flex;
}

.div-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    position: relative;
}

.text-form {
    display: flex;
    flex-direction: column;
    font-size: var(--fontTwo);
    color: hsl(75deg, 100%, 45%);
    text-align: center;
}

.text-form i {
    font-size: var(--fontThree);
    height: 50px;
    padding-top: 8px;
    cursor: pointer;
}

.text-form p {
    margin-top: 10px;
    height: 50px;
}

.btn-form {
    padding: 5px;
    border-radius: 5px;
    border: 3px solid hsl(75deg, 100%, 45%);
    cursor: pointer;
    font-size: var(--fontFive);
    position: relative;
    height: 60px;
    background-color: white;
}

.btn-img {
    border-radius: 5px;
    border: 1px solid rgb(150, 150, 150);
    height: 33px;
    width: 60px;
    float: left;
}

.btn-currency-symbol {
    font-size: var(--fontSeven);
    vertical-align: top;
}

.btn-currency-name {
    font-size: var(--fontSeven);
    display: block;
    transform: translateY(-4px);
}

.fa-angle-down {
    position: absolute;
    right: 3px;
    color: rgb(50, 50, 50);
}

.fa-angle-down:hover {
    color: rgb(175, 175, 175);
}

.input-form {
    margin-top: 20px;
    padding: 2%;
    font-size: var(--fontFour);
    border-radius: 5px;
    border: 3px solid hsl(75deg, 100%, 45%);
    background: transparent;
    color: white;
    height: 60px;
}

.currency-list {
    list-style-type: none;
    position: absolute;
    top: 42%;
    width: 100%;
    max-height: 550px;
    transition: all 0.3s;
    background-color: rgb(241, 241, 241);
    height: 0;
    overflow-y: auto;
    opacity: 0;
    transform: all 0.25s;
    z-index: 101;
}

.currency-li {
    display: grid;
    border-radius: 1px;
    grid-template-columns: 35% 65%;
    grid-template-areas: "a b" "a c";
    padding: 2%;
    border-bottom: 1px solid rgb(221, 221, 221);
    color: rgb(75, 75, 75);
}

.currency-li:hover {
    cursor: pointer;
    background-color: rgb(200, 200, 200); 
}

.btn-form.open + .currency-list {
    opacity: 1; 
    height: 300px;
}

.currency-list-img {
    max-width: 100px;
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid white;
    grid-area: a;
}

.currency-abbreviation {
    font-size: var(--fontSeven);
    grid-area: b;
}

.currency-full-name {
    font-size: var(--fontSeven);
    grid-area: c;
}


/***********************
        Favourites
***********************/

#favourites-header {
    color: white;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 3%;
    font-size: var(--fontThree);
    text-shadow: 0px 0px 4px hsl(75deg, 50%, 50%);
}

.background {
    width: 90%;
    margin: auto;
    background-color: hsl(75deg, 0%, 30%);
    border-radius: 5px;
    min-height: 300px;
    position: relative;
}

.favourite {
    border: 1px solid hsl(75deg, 100%, 50%);
    position: relative;
    border-radius: 5px;
    margin: 1% 0 1% 2%;
    cursor: pointer;
    max-width: 400px;
    display: inline-flex;
}

#favourites {
    max-height: 500px;
    overflow-y: auto;
}

.favourite:last-child {
    margin-bottom: 15%;
}

.flag {
    width: 60px;
    height: 40px;
    margin: 2% 0 0 2%;
    border-radius: 5px;
    border: 1px solid white;
}

.info {
    display: inline-flex;
    color: hsl(200deg, 95%, 95%);
    padding: 1% 0 0 4%;
    flex-direction: column;
    margin-right: 10%;
    width: 100%;
}

.input {
    display: flex;
    margin-bottom: 5%;
    margin-right: 5px;
}

.input span {
    font-size: var(--fontFive);
    width: 20px;
    margin: 0 5%;
}

.input input {
    font: var(--fontSix);
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    color: hsl(200deg, 95%, 95%);
    padding: 1%;
    margin: 2% 0;
    width: 100%;
}

.currency-name {
    font-size: var(--fontSeven);
    font-weight: 900;
    margin-bottom: 5%;
}

.base-currency-rate {
    font-size: var(--fontEight);
    font-weight: 900;
    margin-bottom: 5%;
}

.close {
    position: absolute;
    top: -5px;
    right: 2px;
    text-align: right;
    margin-right: 1%;
    font-size: 1.5rem;
    color: rgb(230, 230, 230);
    cursor: pointer;
}

.close:hover {
    color: white;
}

.add-currency-btn {
    display: block;
    margin: auto;
    padding: 15px;
    border-radius: 2px;
    font-size: var(--fontSix);
    cursor: pointer;
    width: 100%;
    background-color: hsl(75deg, 100%, 45%);
    color: rgb(25, 25, 25);
    font-weight: 550;
    position: absolute;
    bottom: 0;
    border: 1px solid black;
}

.add-currency-btn i {
    position: absolute;
    top: 0.7rem;
    left: 1rem;
    font-size: var(--fontFour);
    opacity: 0;
    transition: all 0.3s;
}

.search-div {
    text-align: center;
    border-bottom: 1px solid rgb(221, 221, 221);
    position: relative;
}

#search-field {
    width: 50%;
    border-radius: 5px;
    border: 1px solid hsl(75deg, 50%, 50%);
    padding: 1%;
    margin: 1%;
    font-size: var(--fontSix);
}

#search-field::placeholder {
    text-align: center;
}

#search-button {
    color: rgb(100, 100, 100);
    font-size: var(--fontFive);
    vertical-align: middle;
    cursor: pointer;
}

.found {
    background-color: hsl(75deg, 50%, 50%);
}

.results {
    position: absolute;
    top: 30%;
    right: 10px;
    font-size: var(--fontSeven);

}

.add-currency-list {
    position: absolute;
    bottom: 50px;
    left: 0;
    background-color: rgb(241, 241, 241);
    color: rgb(50, 50, 50);
    width: 100%;
    height: 0;
    opacity: 0;
    overflow-y: auto;
    transition: all 0.3s;
}

.add-currency-list li {
    list-style-type: none;
    border-bottom: 1px solid rgb(221, 221, 221);
    cursor: pointer;
}

.add-currency-list li .flag {
    vertical-align: middle;
    width: 3rem;
    height: 2rem;
    margin: 1%;
}

.add-currency-list li span {
    margin-left: 1rem;
    font-weight: 900;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed !important; 
}

.open i {
    opacity: 1;
}

.add-currency-btn.open {
    background-color: hsl(75deg, 80%, 35%);
}

.add-currency-btn.open + .add-currency-list {
    height: 90%;
    opacity: 1;
}

.add-currency-btn.open + .add-currency-list li:hover {
    background-color: rgb(200, 200, 200);
}

.base-currency {
    cursor: pointer;
    background-color: hsl(75deg, 20%, 30%);
}


/***********************
        Footer
***********************/
footer {
    margin-top: 10%;
    color: white;
    text-align: center;
}

#exchange-API {
    width: 8%;
    border-radius: 50%;
    margin: 1%;
}

#copyright {
    font-size: var(--fontSeven);
    padding: 0.5%;
}

/***********************
    Media Queries
***********************/
@media (max-width: 900px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .header h1 {
        font-size: var(--fontTwo);
    }
    .favourite {
        width: 95%;
    }
    .currency-name {
        font-size: var(--fontSix);
    }

    .base-currency-rate {
        font-size: var(--fontSeven);
    }
}

@media (max-width: 500px) {
    html {
        font-size: 11px;
    }
    .text-form {
        margin-top: 8px;
    }
}

